HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### JS ###
# dependencies
/neural-network-app/node_modules
/neural-network-app/.pnp
/neural-network-app.pnp.js

# testing
/neural-network-app/coverage

# production
/neural-network-app/build

# misc
.DS_Store
/neural-network-app/.env
/neural-network-app/.env.local
/neural-network-app/.env.development.local
/neural-network-app/.env.test.local
/neural-network-app/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
